@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  height: 100vh;
}

.black {
  background-color: #070710;
}


.bg {
  position: absolute;
  background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #171720 80%, #070710 100%);
}


.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(63, 12, 88, 0.25) 0%, transparent 100%);
  pointer-events: none;
}

.css-selector {
    background: linear-gradient(269deg, #ffffff, #01beb4, #00faed, #0083d2);
    background-clip:text;
        background-size: 600% 600%;

    /* -webkit-background-clip: text; */
    color:transparent;
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}

.landing-cards:hover{
  transform: scale(1.1); /*  default */
  transition: 0.2s;
}