.home {
  padding: 5% 10%;
  height: calc(100vh - 174px);
}

.home ul,
.home li {
  list-style: none;
  padding: 0;
}

.main--title {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 30px 0;
}

.main--sub--title {
  font-size: 1.3rem;
  font-weight: 500;
}

.main--picture {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #777777;
}
