.container {
  min-width: 100vw;
  min-height: 500vh;
  position: absolute;
  top: 0;
  z-index: 999;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: left;
  font-size: 3vmax;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    display: none;
  }
}
