.container{
    min-width : 1000px;
    min-height : 4000px;
    position : absolute;
    top : 0;
    z-index:999;
    background-color: white;
    display : flex;
    justify-content: center;
    padding : 10px;

}

.wrapper{
    width : 80%;
    height : 50%;
    display : flex;
    flex-direction: column;
}

.description{
    text-align: left;
    font-size: 50px;
    padding-left : 30px;

}


@media only screen and (max-width: 1000px){
    .container{
      display : block;
      overflow-y : hidden !important;
      
    }
  }
  
  @media only screen and (min-width: 1000px){
    .container{
      display:none;
    }
  }