.signup {
  padding: 0;
  min-height: 100vh;
  margin: 0 0 20vh 0;
}

.signup--left {
  width: 100%;
  padding: 10% 0 0% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.signup--right {
  width: 100%;
  height: 100%;
  padding: 10% 20% 0% 0;
}

.signup--image {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  box-shadow: 2px 2px 5px #777777;
}

.signup--canvas {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0;
}

.signup--title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.signup--description {
  margin: 10px 0 30px 0;
}

.signup--label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #555555;
}

.signup--choicetype--first {
  width: 100%;
  height: 250px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px #777777;
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background-color: white;
  cursor: pointer;
  color: #777777;
}

.signup--choicetype--first:hover {
  color: black;
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, rgba(13, 108, 201, 1) 0%, rgba(22, 178, 166, 1) 100%)
      border-box;
  transform: scale(1.1); /*  default */
  -webkit-transform: scale(1.1); /*  크롬 */
  -moz-transform: scale(1.1); /* FireFox */
  -o-transform: scale(1.1); /* Opera */
}

.signup--choicetype--title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 0 0;
}

.signup--btn {
  height: 3rem;
  width: 40%;
  margin: 20px auto;
  cursor: pointer;
  border: 1px solid #777777;
  background-color: white;
  box-shadow: 2px 2px 5px #777777;
  font-size: 1.1rem;
  font-weight: 700;
}

.signup--btn:hover {
  background: linear-gradient(
    90deg,
    rgba(13, 108, 201, 1) 0%,
    rgba(22, 178, 166, 1) 100%
  );
  color: white;
  cursor: pointer;
}

.signup--klip--btn {
  font-size: 1rem;
  background-color: white;
  width: 100%;
  color: black;
  height: 2.3rem;
  border-radius: 10px;
  border: 1px solid #777777;
  box-shadow: 1px 1px 1px #999999;
}

.signup--klip--btn:hover {
  background-color: rgba(39, 73, 255, 0.9);

  color: white;
}
