.holdermanage {
  padding: 0;
  min-height: 100vh;
  margin: 0 0 20vh 0;
}

.holdermanage--breadcrumb {
  font-size: 3rem;
  font-weight: 700;
  margin: 5% 0 0 5%;
}

.holdermanage--description {
  font-size: 1.3rem;
  margin: 0 0 0 5%;
}

.holdermanage--total {
  margin: 20px 0 40px 5%;
}

.holdermanage--total--label {
  width: 80%;
  height: 3rem;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(13, 108, 201, 1) 0%,
    rgba(22, 178, 166, 1) 100%
  );
}

.holdermanage--submit--label {
  width: 80%;
  height: 3rem;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(255, 63, 63) 0%,
    rgb(255, 135, 60) 100%
  );
}

.holdermanage--submit--label:hover {
  cursor: pointer;
  transform: scale(1.1); /*  default */
  -webkit-transform: scale(1.1); /*  크롬 */
  -moz-transform: scale(1.1); /* FireFox */
  -o-transform: scale(1.1); /* Opera */
}

.holdermanage--vc {
  margin: 0 5% 0 5%;
  min-height: 50vh;
}

.holdermanage--input {
  width: 100%;
  border: 1px solid #777777;
  height: 2rem;
  border-radius: 5px;
  text-indent: 10px;
  margin: 0 0 0 0;
}

.holdermanage--btn {
  background-color: #000630;
  color: white;
  height: 2rem;
  border-radius: 5px;
  width: 100%;
}

.holdermanage--submitlist {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 5%;
}
