.title {
  display: flex;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.holderissuerlist--row {
  height: 3rem;
}

.holderissuerlist--columns {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  height: 100%;
  font-weight: 600;
}
