.ant-layout-footer {
  background-color: rgb(28, 28, 31, 0.9);
}

.footer--wrapper {
  color: white;
}

.footer--subtitle {
  color: #e1e1e1;
  font-weight: 700;
  font-size: 1rem;
}

.footer--subtitle a {
  color: #e1e1e1;
  font-weight: 700;
  font-size: 1rem;
}

.footer--menu {
  color: #999999;
  font-size: 0.8rem;
}

.footer--menu a {
  color: #999999;
  font-size: 0.8rem;
}

.footer--logo {
  width: 32px;
  height: 32px;
  filter: grayscale(100%);
}
