.issuersignup--title {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.issuersignup--description {
  font-size: 0.9rem;
  color: black;
  margin: 10px 0 30px 0;
}

.issuersignup--input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-indent: 10px;
  height: 2rem;
  font-size: 1rem;
  width: 100%;
  margin: 5px 0;
}

.signup--form {
  width: 100%;
}

.signup--row {
  height: 100%;
}

.signup--col {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
}

.signup .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 0px;
}

.issuersignup--row {
  align-items: center;
  margin: 20px 0 0 0;
}
