.content{
    display : flex;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.issuerContentButton {
    border-radius: 30px;
    /* width: 00px;
    height: 50px; */
    border: 1px solid #777777;
    background-color: white;
    box-shadow: 2px 2px 5px #777777;
    font-size: 1.2rem;
    font-weight: 700;
    cursor : pointer;
  }
.issuerContentButton:hover {
    background: linear-gradient(
      90deg,
      rgba(13, 108, 201, 1) 0%,
      rgba(22, 178, 166, 1) 100%
    );
}
.issuerList--title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 30px 0;
}

.issuerList--subtitle {
  font-size: 1rem;
  margin: 0 0 100px 0;
}

.issuerList--form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.issuerList--input {
  width: 100%;
  border: 1px solid #777777;
  border-radius: 50px;
  text-indent: 10px;
}